<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [113]:
import pymongo
from pymongo import MongoClient
from random import randint

In [124]:
# Requires the PyMongo package.
# https://api.mongodb.com/python/current

client = MongoClient('mongodb://localhost:27017/')
filter={'stock.size': 'S'}

result = client['managerie']['inventory'].find(
  filter=filter
)

In [125]:
for x in result:
    print(x)

{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3f'), 'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d40'), 'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

In [126]:
# Requires the PyMongo package.
# https://api.mongodb.com/python/current

client = MongoClient('mongodb://localhost:27017/')
filter={'stock.size': 'S'}

resultt =client.managerie.inventory.find(filter=filter)

In [127]:
for x in resultt:
    print(x)

{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3f'), 'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d40'), 'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

In [2]:
url="mongodb://localhost:27017"
client=pymongo.MongoClient(url)

In [46]:
db=client.managerie
for x in db.inventory.find():
    print(x)

{'_id': ObjectId('60b7e7dc25e54a27b0bc2d3d'), 'item': 'ABC1', 'category': 'clothing', 'details': {'model': '14Q3', 'manufacturer': 'XYZ Company'}}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3e'), 'item': 'ABC2', 'details': {'model': '14Q3', 'manufacturer': 'M1 Corporation'}, 'stock': [{'size': 'M', 'qty': 50}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3f'), 'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d40'), 'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'_id': ObjectId('60b7ebd225e54a27b0bc2d41'), 'item': 'BE10', 'details': {'model': '14Q2', 'manufacturer': 'XYZ Company'}, 'stock': [{'size': 'L', 'qty': 5}], 'category': 'clothing'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

In [47]:
for x in db.inventory.find({'stock.size':"M"}):
    print(x)

{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3e'), 'item': 'ABC2', 'details': {'model': '14Q3', 'manufacturer': 'M1 Corporation'}, 'stock': [{'size': 'M', 'qty': 50}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3f'), 'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

In [48]:
for x in db.inventory.find({'category':"houseware"}):
    print(x)

{'_id': ObjectId('60b7e9aa25e54a27b0bc2d40'), 'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

# projections (selecting certain columns as in sql) 

***Return Specified Fields Only***

You can remove the _id field from the results by specifying its exclusion in the projection, as in the followingexample:

In [167]:
db=client.managerie

In [168]:
for x in db.inventory.find({'stock.size':"M"},{'item':1,'stock.size':1,'_id':0}):
    print(x)

{'item': 'ABC2', 'stock': [{'size': 'M'}]}
{'item': 'MNO2', 'stock': [{'size': 'S'}, {'size': 'M'}, {'size': 'L'}]}
{'item': 'ZYT1', 'stock': [{'size': 'S'}, {'size': 'M'}]}

In [169]:
for x in db.inventory.find({'stock.size':"M"},{'item':0,'details.model':0,'stock.size':0,'_id':0}):
    print(x)

{'details': {'manufacturer': 'M1 Corporation'}, 'stock': [{'qty': 50}], 'category': 'clothing'}
{'details': {'manufacturer': 'ABC Company'}, 'stock': [{'qty': 5}, {'qty': 5}, {'qty': 1}], 'category': 'clothing'}
{'details': {'manufacturer': 'ABC Company'}, 'stock': [{'qty': 5}, {'qty': 5}], 'category': 'houseware'}

In [170]:
for x in db.inventory.find( { 'category':'clothing'}, { 'ratings': { '$slice': 2},'_id':0} ):
    print(x)

{'item': 'ABC1', 'category': 'clothing', 'details': {'model': '14Q3', 'manufacturer': 'XYZ Company'}}
{'item': 'ABC2', 'details': {'model': '14Q3', 'manufacturer': 'M1 Corporation'}, 'stock': [{'size': 'M', 'qty': 50}], 'category': 'clothing'}
{'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'item': 'BE10', 'details': {'model': '14Q2', 'manufacturer': 'XYZ Company'}, 'stock': [{'size': 'L', 'qty': 5}], 'category': 'clothing'}

In [171]:
db.inventory.find( { 'category':'clothing'}, { 'ratings': { '$slice': 2},'_id':0} ).count()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

4

# selecting stock array which has a size of 2

In [172]:
for x in db.inventory.find({ 'stock': {'$size': 2}},{'_id':0} ):
    print(x)

{'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

size 1

In [173]:
for x in db.inventory.find({ 'stock': {'$size': 1}},{'_id':0}  ):
    print(x)

{'item': 'ABC2', 'details': {'model': '14Q3', 'manufacturer': 'M1 Corporation'}, 'stock': [{'size': 'M', 'qty': 50}], 'category': 'clothing'}
{'item': 'BE10', 'details': {'model': '14Q2', 'manufacturer': 'XYZ Company'}, 'stock': [{'size': 'L', 'qty': 5}], 'category': 'clothing'}

# size 3

In [174]:
for x in db.inventory.find({ 'stock': {'$size': 3}},{'_id':0}  ):
    print(x)

{'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}

In [175]:
doc=[{ "_id" : 1, "item" : "f1", 'type': "food", 'quantity': 500 },
     { "_id" : 2, "item" : "f2", 'type': "food", 'quantity': 100 },
    { "_id" : 3, "item" : "p1", 'type': "paper", 'quantity': 200 },
{ "_id" : 4, "item" : "p2", 'type': "paper", 'quantity': 150 },
{ "_id" : 5, "item" : "f3", 'type': "food", 'quantity': 300 },
{ "_id" : 6, "item" : "t1", 'type': "toys", 'quantity': 500 },
{ "_id" : 7, "item" : "a1", 'type': "apparel", 'quantity': 250 },
{ "_id" : 8, "item" : "a2", 'type': "apparel", 'quantity': 400 },
{ "_id" : 9, "item" : "t2", 'type': "toys", 'quantity': 50 },
{ "_id" : 10, "item" : "f4", 'type': "food", 'quantity': 75 }]

In [176]:
#db.inventory.insert(doc)

In [178]:
for x in db.inventory.find( { 'quantity': { '$gte': 100, '$lte': 200 }}):
                           print(x)

{'_id': 2, 'item': 'f2', 'type': 'food', 'quantity': 100}
{'_id': 3, 'item': 'p1', 'type': 'paper', 'quantity': 200}
{'_id': 4, 'item': 'p2', 'type': 'paper', 'quantity': 150}

In [179]:
for x in db.inventory.find( { 'quantity': { '$in':[100, 200] }}):
                           print(x)

{'_id': 2, 'item': 'f2', 'type': 'food', 'quantity': 100}
{'_id': 3, 'item': 'p1', 'type': 'paper', 'quantity': 200}

In [180]:
# connetciong to mongodb
client=pymongo.MongoClient(url)
# use managerie database
db=client['managerie']
# select inventory collection
inventory_col=db['inventory']

In [181]:
for x in inventory_col.find():
    print(x)

{'_id': ObjectId('60b7e7dc25e54a27b0bc2d3d'), 'item': 'ABC1', 'category': 'clothing', 'details': {'model': '14Q3', 'manufacturer': 'XYZ Company'}}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3e'), 'item': 'ABC2', 'details': {'model': '14Q3', 'manufacturer': 'M1 Corporation'}, 'stock': [{'size': 'M', 'qty': 50}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3f'), 'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d40'), 'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'_id': ObjectId('60b7ebd225e54a27b0bc2d41'), 'item': 'BE10', 'details': {'model': '14Q2', 'manufacturer': 'XYZ Company'}, 'stock': [{'size': 'L', 'qty': 5}], 'category': 'clothing'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}
{'_id': 1, 'item': 'f1', 'type': 'food', 'quantity': 500}
{'_id': 2, 'item': 'f2', 'type': 'food', 'quantity': 100}
{'_id': 3, 'item': 'p1', 'type': 'paper', 'quantity': 200}
{'_id': 4, 'item': 'p2', 'type': 'paper', 'quantity': 150}
{'_id': 5, 'item': 'f3', 'type': 'food', 'quantity': 300}
{'_id': 6, 'item': 't1', 'type': 'toys', 'quantity': 500}
{'_id': 7, 'item': 'a1', 'type': 'apparel', 'quantity': 250}
{'_id': 8, 'item': 'a2', 'type': 'apparel', 'quantity': 400}
{'_id': 9, 'item': 't2', 'type': 'toys', 'quantity': 50}
{'_id': 10, 'item': 'f4', 'type': 'food', 'quantity': 75}

In [182]:
for x in inventory_col.find({'category':"houseware"}):
    print(x)

{'_id': ObjectId('60b7e9aa25e54a27b0bc2d40'), 'item': 'IJK2', 'details': {'model': '14Q2', 'manufacturer': 'M5 Corporation'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'houseware'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

In [183]:
for x in inventory_col.find({'stock.size':"M"}):
    print(x)

{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3e'), 'item': 'ABC2', 'details': {'model': '14Q3', 'manufacturer': 'M1 Corporation'}, 'stock': [{'size': 'M', 'qty': 50}], 'category': 'clothing'}
{'_id': ObjectId('60b7e9aa25e54a27b0bc2d3f'), 'item': 'MNO2', 'details': {'model': '14Q3', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}, {'size': 'L', 'qty': 1}], 'category': 'clothing'}
{'_id': ObjectId('60b7ec2325e54a27b0bc2d42'), 'item': 'ZYT1', 'details': {'model': '14Q1', 'manufacturer': 'ABC Company'}, 'stock': [{'size': 'S', 'qty': 5}, {'size': 'M', 'qty': 5}], 'category': 'houseware'}

In [184]:
# # create a new database name business
db=client.business
# #Step 2: Create sample data
# names = ['Kitchen','Animal','State', 'Tastey', 'Big','City','Fish', 'Pizza','Goat', 'Salty','Sandwich','Lazy', 'Fun']
# company_type = ['LLC','Inc','Company','Corporation']
# company_cuisine = ['Pizza', 'Bar Food', 'Fast Food', 'Italian', 'Mexican', 'American', 'Sushi Bar', 'Vegetarian']
# for x in range(1, 501):
#     business = {
#         'name' : names[randint(0, (len(names)-1))] + ' ' + names[randint(0, (len(names)-1))]  + ' ' + company_type[randint(0, (len(company_type)-1))],
#         'rating' : randint(1, 5),
#         'cuisine' : company_cuisine[randint(0, (len(company_cuisine)-1))] 
#     }
#     #Step 3: Insert business object directly into MongoDB via isnert_one
#     result=db.reviews.insert_one(business)
#     #Step 4: Print to the console the ObjectID of the new document
#     print('Created {0} of 500 as {1}'.format(x,result.inserted_id))
# #Step 5: Tell us that you are done
# print('finished creating 500 business reviews')

In [186]:
for x in db.reviews.find().limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e39'), 'name': 'Animal Goat Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3a'), 'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e3b'), 'name': 'Pizza Big Company', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3c'), 'name': 'Animal Lazy Inc', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3d'), 'name': 'Big State Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': ObjectId('60c091c8d87a365788c63e3e'), 'name': 'Tastey Fun Company', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3f'), 'name': 'Animal Kitchen Corporation', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e40'), 'name': 'Animal Big Company', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e41'), 'name': 'Big Lazy Inc', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e42'), 'name': 'Goat City Corporation', 'rating': 4, 'cuisine': 'Fast Food'}

In [187]:
for x in db.reviews.find({'name':"Animal Big Company"}).sort('name',-1):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e40'), 'name': 'Animal Big Company', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e69'), 'name': 'Animal Big Company', 'rating': 3, 'cuisine': 'Fast Food'}

In [188]:
for x in db.reviews.find({}).sort('rating',1).limit(4):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e4d'), 'name': 'Tastey Fun Company', 'rating': 1, 'cuisine': 'American'}
{'_id': ObjectId('60c091c8d87a365788c63e43'), 'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e4b'), 'name': 'Lazy Salty Corporation', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e45'), 'name': 'Tastey Pizza Inc', 'rating': 1, 'cuisine': 'Pizza'}

In [189]:
print(db.reviews.find_one({'rating': 5}))

{'_id': ObjectId('60c091c8d87a365788c63e3a'), 'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'}

In [190]:
db.reviews.count()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

500

In [191]:
for x in  db.reviews.find({'rating':{'$gte':4}}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e3a'), 'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e3c'), 'name': 'Animal Lazy Inc', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3e'), 'name': 'Tastey Fun Company', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3f'), 'name': 'Animal Kitchen Corporation', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e40'), 'name': 'Animal Big Company', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e42'), 'name': 'Goat City Corporation', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e46'), 'name': 'Lazy Goat LLC', 'rating': 5, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e4e'), 'name': 'Goat Pizza LLC', 'rating': 5, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e51'), 'name': 'Lazy Sandwich Corporation', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e52'), 'name': 'Goat Kitchen LLC', 'rating': 5, 'cuisine': 'Mexican'}

In [192]:
for x in  db.reviews.find({'rating':{'$in':[1,3,5]}}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e39'), 'name': 'Animal Goat Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3a'), 'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e3c'), 'name': 'Animal Lazy Inc', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3d'), 'name': 'Big State Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': ObjectId('60c091c8d87a365788c63e41'), 'name': 'Big Lazy Inc', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e43'), 'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e44'), 'name': 'Kitchen Sandwich Inc', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e45'), 'name': 'Tastey Pizza Inc', 'rating': 1, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e46'), 'name': 'Lazy Goat LLC', 'rating': 5, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e47'), 'name': 'Fish Tastey Company', 'rating': 3, 'cuisine': 'Bar Food'}

In [193]:
for x in  db.reviews.find({'name':{'$in':['Big Lazy Inc','Lazy Goat LLC']}}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e41'), 'name': 'Big Lazy Inc', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e46'), 'name': 'Lazy Goat LLC', 'rating': 5, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e58'), 'name': 'Big Lazy Inc', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c9d87a365788c63ff3'), 'name': 'Lazy Goat LLC', 'rating': 3, 'cuisine': 'Bar Food'}

select documents containing names not in the list
db.reviews.find({name:{$nin:['Big Lazy Inc','Lazy Goat LLC']}}).limit(10):

In [194]:
for x in  db.reviews.find({'name':{'$nin':['Big Lazy Inc','Lazy Goat LLC']}}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e39'), 'name': 'Animal Goat Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3a'), 'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e3b'), 'name': 'Pizza Big Company', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3c'), 'name': 'Animal Lazy Inc', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3d'), 'name': 'Big State Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': ObjectId('60c091c8d87a365788c63e3e'), 'name': 'Tastey Fun Company', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e3f'), 'name': 'Animal Kitchen Corporation', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': ObjectId('60c091c8d87a365788c63e40'), 'name': 'Animal Big Company', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e42'), 'name': 'Goat City Corporation', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e43'), 'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Fast Food'}

In [195]:
for x in  db.reviews.find({'$or':[{'name':'Big Lazy Inc'},{'name':'Lazy Goat LLC'},
                                 {'name': 'City Fish Company'}]}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e41'), 'name': 'Big Lazy Inc', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e43'), 'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e46'), 'name': 'Lazy Goat LLC', 'rating': 5, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e58'), 'name': 'Big Lazy Inc', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c9d87a365788c63f7b'), 'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': ObjectId('60c091c9d87a365788c63ff3'), 'name': 'Lazy Goat LLC', 'rating': 3, 'cuisine': 'Bar Food'}

In [196]:
for x in  db.reviews.find({'$and':[{'name':'Big Lazy Inc'},{'rating':4}]}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e58'), 'name': 'Big Lazy Inc', 'rating': 4, 'cuisine': 'Fast Food'}

# OR

In [198]:
for x in  db.reviews.find({'name':'Big Lazy Inc','rating':4}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e58'), 'name': 'Big Lazy Inc', 'rating': 4, 'cuisine': 'Fast Food'}

# Elemenst Operators

select documents where name Field exists

In [199]:
for x in  db.reviews.find({'name':{'$exists':True}}).limit(4):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e39'), 'name': 'Animal Goat Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3a'), 'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'}
{'_id': ObjectId('60c091c8d87a365788c63e3b'), 'name': 'Pizza Big Company', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e3c'), 'name': 'Animal Lazy Inc', 'rating': 5, 'cuisine': 'Bar Food'}

# projections (selecting certain columns as in sql) 

***Return Specified Fields Only***

You can remove the _id field from the results by specifying its exclusion in the projection, as in the followingexample:

In [200]:
for x in  db.reviews.find({'$or':[{'name':'Big Lazy Inc'},{'name':'Lazy Goat LLC'},
                                 {'name': 'City Fish Company'}]},
                          {'rating':1,'name':1,'cuisine':1,'_id':0}).limit(10):
    print(x)

{'name': 'Big Lazy Inc', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'name': 'Lazy Goat LLC', 'rating': 5, 'cuisine': 'Sushi Bar'}
{'name': 'Big Lazy Inc', 'rating': 4, 'cuisine': 'Fast Food'}
{'name': 'City Fish Company', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Lazy Goat LLC', 'rating': 3, 'cuisine': 'Bar Food'}

In [201]:
for x in  db.reviews.find({'$or':[{'name':'Big Lazy Inc'},{'name':'Lazy Goat LLC'},
                                 {'name': 'City Fish Company'}]},{'name':1,'cuisine':1}).limit(10):
    print(x)

{'_id': ObjectId('60c091c8d87a365788c63e41'), 'name': 'Big Lazy Inc', 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e43'), 'name': 'City Fish Company', 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c8d87a365788c63e46'), 'name': 'Lazy Goat LLC', 'cuisine': 'Sushi Bar'}
{'_id': ObjectId('60c091c8d87a365788c63e58'), 'name': 'Big Lazy Inc', 'cuisine': 'Fast Food'}
{'_id': ObjectId('60c091c9d87a365788c63f7b'), 'name': 'City Fish Company', 'cuisine': 'Mexican'}
{'_id': ObjectId('60c091c9d87a365788c63ff3'), 'name': 'Lazy Goat LLC', 'cuisine': 'Bar Food'}

In [136]:
import numpy as np
import pandas as pd

# Saving the data into a csv file

In [202]:
data=[x for x in db.reviews.find({},{'_id':0})]
data[1:4]

[{'name': 'Fun Fish LLC', 'rating': 5, 'cuisine': 'Pizza'},
 {'name': 'Pizza Big Company', 'rating': 2, 'cuisine': 'Sushi Bar'},
 {'name': 'Animal Lazy Inc', 'rating': 5, 'cuisine': 'Bar Food'}]

In [204]:
data_csv=pd.DataFrame.from_dict(data,orient='columns')
data_csv.head(20)

                          name  rating     cuisine
0      Animal Goat Corporation       3   Sushi Bar
1                 Fun Fish LLC       5       Pizza
2            Pizza Big Company       2   Sushi Bar
3              Animal Lazy Inc       5    Bar Food
4                Big State Inc       3     Mexican
5           Tastey Fun Company       4   Fast Food
6   Animal Kitchen Corporation       4    Bar Food
7           Animal Big Company       4       Pizza
8                 Big Lazy Inc       3   Sushi Bar
9        Goat City Corporation       4   Fast Food
10           City Fish Company       1   Fast Food
11        Kitchen Sandwich Inc       3   Sushi Bar
12            Tastey Pizza Inc       1       Pizza
13               Lazy Goat LLC       5   Sushi Bar
14         Fish Tastey Company       3    Bar Food
15              Fish State LLC       2   Fast Food
16            City Kitchen LLC       3    Bar Food
17            Sandwich Fun LLC       3  Vegetarian
18      Lazy Salty Corporation       1    Bar Food
19     Kitchen Big Corporation       2   Fast Food